<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='images/RedCrossLogo.png') }}" alt="Logo" style="height: 50;">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
            
                    {% if current_user.is_authenticated %}
                        <!-- Only show if the user is logged in -->
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('blood_donation') }}" class="{% if request.path == '/blood_donation' %}active{% endif %}">Donate Blood</a></li>
                        <li><a href="{{ url_for('donate') }}" class="{% if request.path == '/donate' %}active{% endif %}">Donate Funds</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <!-- Only show if the user is NOT logged in -->
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        

        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 The Indian National Red Cross.</p>
            <ul class="social-links">
                <li><a href="{{ url_for('login') }}">RedCross.org</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>